---
layout: default
---

<style>
 figure {
     background: #fff;
     display: block;
     float: left;
     padding: 10px;
     margin: 0 0px 0px 0;
     text-align: center;
 }

 figcaption {
     background: #fff;
     display: block;
     padding: 10px;
 }
</style>

<header>
    <h1>{{ page.title | escape }}</h1>
</header>

<hr>

<div align="justify">
    <section>
        <figure>
            <img src="{{ page.picture }}" width="{{ page.picture_width }}" />
            <figcaption>{{ page.picture_caption | escape }}</figcaption>
        </figure>
        {{ content }}
    </section>
</div>
