---
layout: default
---

<style>
figure {
border: 1px #cccccc solid;
padding: 4px;
margin: auto;
}

figcaption {
background-color: black;
color: white;
font-style: italic;
padding: 2px;
text-align: center;
}
</style>

<article>

    <header>
        <h1>{{ page.title | escape }}</h1>
    </header>

    <hr>

    <section>
        <div>
            <figure>
                <img src="{{ page.picture }}" alt ="{{ page.picture_alt }}" align="right" />
                <figcaption>Foo foo foo foo foo foo foo foo foo.</figcaption>
        </figure>
        </div>
    </section>
    <section>
        <div>{{ content }}</div>
    </section>

</article>
