---
layout: default
---

<style>
 figure {
     background: #b2b2b2;
     display: block;
     float: right;
     padding: 10px;
     margin: 0 10px 10px 0;
     text-align: center;
 }

 figcaption {
     background: #fff;
     display: block;
     padding: 5px;
 }
</style>

<article>

    <header>
        <h1>{{ page.title | escape }}</h1>
    </header>

    <hr>

    <div>
        <figure>
            <img src="{{ page.picture }}" width="{{ page.picture_width }}" />
            <figcaption>Food food food food foo foo foo foo foo.</figcaption>
        </figure>
        {{ content }}
    </div>

</article>
